<%- include("partials/header"); -%>
<div class="container content-box">

  <h1>Latest Posts</h1>
  <div class="text-center">


    <br>
    <br>

    <% posts.forEach(function(post){ %>

    <a href="/posts/<%=post._id %>">
      <h3><%=post.title %></h3>
    </a>

    <img width="40%" height="50%" src=<%=post.feedImg %> alt="">
    <br> <br>

    <% }); %>


    <br>
    <br>

    for(var i=0; i<3; i++){ } <button type="button" class="btn btn-primary center-button">Older Posts</button>

  </div>

</div>





<%- include("partials/footer"); -%>
