<%- include("partials/header"); -%>

<div class="container content-box">


  <h1>Latest Posts</h1>


<br>
<br>



 <% posts.forEach(function(post){ %>
   <a href="/posts/<%=post._id %>"><%=post.title %></a>
    <a href="/posts/<%=post.title%>"><%=post.title %></a>
   <br>
   <img width="470" height="320" src=<%=post.feedImg %> alt="">
   <br> <br>


 <% }); %>
<br>
<br>

  <button type="button" class="btn btn-primary center-button">Older Posts</button>

</div>





<%- include("partials/footer"); -%>
