<%- include("partials/header"); -%>

<div class="container">

  <div class="review">

  <%=post.title %>

  <div>

  <h1><%=post.title %> (<%=post.year%>) Movie Review</h1>
  <img width="798" height="528" class="review-img" src=<%=post.postImg %> alt="">
<br><br>

  <b>Director:</b> <%=post.director %>
  <br>
  <b>Year:</b> <%=post.year %>
  <br>
  <b>Length: </b> <%=post.mins %> minutes
  <br>
  <b>Cast:</b> <%=post.actors %>
  <br>
  <b>Review Date:</b> <%=post.reviewDate.toDateString() %>
  <br>
  <b>Plot:</b> <%=post.plot %>


  <br><br>



  <% post.review.forEach(function(paragraph){ %>
    <p> <%=paragraph %></p>

    <br>

  <% }); %>

  </div>

</div>



  <!-- Comment section -->
  <!-------------------Reply Section------->
  <div id="second">
    <div class="row">
      <div class="col-md-2">
        <h3 class="second_heading"><b>Leave a Reply</b></h3>
      </div>
      <div class="col-md-10">
        <div class="blank"></div>
      </div>
    </div>
  </div>
  <div id="middle">
    <form>

    </form>
  </div>

  <!------------Form Start---------->

  <div id='form'>
    <div class="row">
      <div class="col-md-12">

        <form action="" method="POST" id="commentform">

          <div id="comment-name" class="form-row">
            <input type="text" placeholder="Name (required)" name="dname" id="name">
          </div>
          <div id="comment-email" class="form-row">
            <input type="text" placeholder="Mail (will not be published) (required)" name="demail" id="email">
          </div>
          <div id="comment-url" class="form-row">
            <input type="text" placeholder="Website" name="url" id="url">
          </div>
          <div id="comment-message" class="form-row">
            <textarea name="comment" placeholder="Message" id="comment"></textarea>
          </div>
          <a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Submit Comment"></a>
          <input style="width: 30px" type="checkbox" value="1" name="subscribe" id="subscribe" checked="checked">
          <p1><b>Notify me when new comments are added.</b></p1>
        </form>

      </div>
    </div>
  </div>
</div>




<%- include("partials/footer"); -%>
